VITE_SUPABASE_URL=https://rkwvjiapozykyzlwkvia.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrd3ZqaWFwb3p5a3l6bHdrdmlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4Mzg3ODksImV4cCI6MjA4ODQxNDc4OX0.c0xfjbW-IVeWVRjURORyHU3l9Q3M3bvqS-UhnLzb_M8
